<app-navbar></app-navbar>
<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav [mode]="'side'" [fixedInViewport]="false">
        sidebar works!!
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
        </p>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>