<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>APP GRMS</span>
        <span class="toolbar-spacer"></span>
        <mat-icon class="toolbar-icon pointer" aria-hidden="false" aria-label="Example delete icon" (click)="logOut()">exit_to_app</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>