<div class="login">
  <mat-card class="card-login">
    <mat-card-header>
      <div mat-card-avatar class="icon-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>User</mat-label>
          <input matInput placeholder="Ex. grms" formControlName="userName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="login()">Login</button>
      <button mat-button (click)="goToRegister()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>