.login{
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  .card-login {
    mat-card-header {
      justify-content: center;
      .mat-card-avatar {
        height: 80px !important;
        width: 80px !important;
      }
      .icon-header-image {
        background-size: cover;
        background-color: var(--gray);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT4M6vVoTD-UqbHOykmtESzFmcSNsDHF34tZ4aCFe1JIxQPBZwX&usqp=CAU');
      }
    }
    grid-column-start: 2;
    grid-row-start: 2;
    width: 400px;
    justify-self: center;
    }

    mat-form-field {
      width: 100%
    }
}